# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Database
db.sqlite3

# VS Code
.vscode/

# OS files
.DS_Store

# Migrations
*/migrations/__pycache__/

# Static files compiled in production
staticfiles/

